@import 'tailwindcss';

@theme {
  --color-brand-primary: #1e3a8a; /* Main color: Used for primary headings, key highlights, and important UI elements (e.g., main titles, active nav links) */
  --color-brand-secondary: #334155; /* Secondary color: Used for subtitles, secondary headings, and supporting text (e.g., descriptions) */
  --color-brand-btn: #2563eb; /* Primary button background: Used for main buttons and interactive elements */
  --color-brand-btn-hover: #1d4ed8; /* Button hover state: Used for the background of primary buttons on hover/focus/active */
  --color-brand-btn-text: #ffffff; /* Button text: Used for text inside primary buttons*/
  --color-brand-disabled: #e5e7eb; /* Disabled button background: Used for buttons in a disabled state */
  --color-brand-disabled-text: #6b7280; /* Disabled button text: Used for text inside disabled buttons */
  --color-brand-border: #d1d5db; /* Border color: Used for dividing lines, card borders, and input borders */
  --color-brand-footer-text: #6b7280; /* Footer and muted text: Used for footer content */
}
